h1, h2 {
    text-align: center;
}

table, th, td {
    border: 1px solid darkred;
}

.case {

}

table {
    width: 500px;
    height: 500px;
    text-align:center;
    margin: auto;
    margin-top: 5em;
    weight : 20px;


}

.buttons {
    margin-top: 4em;
    text-align: center;
    background-color: black;
}